<!DOCTYPE html>
<html>

<head>
    <style>
        /* Define the styles for the email */
        .container {
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            color: #333333;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .otp-code {
            background-color: #f0f0f0;
            font-weight: bold;
            padding: 10px;
            text-align: center;
            margin-bottom: 20px;
            font-size: 24px;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Hey {{name}},</h1>
        </div>
        <div>
            <p>Please enter the below OTP number to confirm your email:</p>
            <div class="otp-code">{{otp}}</div>
        </div>
        <div class="footer">
            <p>Thanks,</p>
            <p>FlexBus Team</p>
        </div>
    </div>
</body>

</html>

